<launch>
  <arg name="odom_topic" default="/quad_0/lidar_slam/odom"/>
  <arg name="cloud_topic" default="/drone_0_pcl_render_node/cloud"/>
  <arg name="battery_topic" default="/mavros/battery"/>
  <arg name="link_topic" default="/c5/link_available"/>
  <arg name="estimator_topic" default="/c5/estimator_quality"/>
  <arg name="detection_topic" default="/c5/detections"/>
  <arg name="image_topic" default="/c5/camera/image_raw"/>
  <arg name="vio_feature_topic" default="/c5/vio_features"/>
  <arg name="position_command_topic" default="/position_cmd"/>
  <arg name="planner_request_topic" default="/c5/planner_request"/>
  <arg name="planner_feedback_topic" default="/c5/planner_feedback"/>
  <arg name="stop_topic" default="/mandatory_stop_to_planner"/>
  <arg name="model_path" default=""/>
  <arg name="home_x" default="0.0"/>
  <arg name="home_y" default="0.0"/>
  <arg name="home_z" default="1.0"/>
  <node pkg="c5_autonomous_exploration" type="c5_autonomous_exploration_node" name="c5_autonomous_exploration" output="screen">
    <rosparam command="load" file="$(find c5_autonomous_exploration)/config/c5_autonomous_exploration.yaml"/>
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="cloud_topic" value="$(arg cloud_topic)"/>
    <param name="battery_topic" value="$(arg battery_topic)"/>
    <param name="link_topic" value="$(arg link_topic)"/>
    <param name="estimator_topic" value="$(arg estimator_topic)"/>
    <param name="detection_topic" value="$(arg detection_topic)"/>
    <param name="image_topic" value="$(arg image_topic)"/>
    <param name="vio_feature_topic" value="$(arg vio_feature_topic)"/>
    <param name="position_command_topic" value="$(arg position_command_topic)"/>
    <param name="planner_request_topic" value="$(arg planner_request_topic)"/>
    <param name="planner_feedback_topic" value="$(arg planner_feedback_topic)"/>
    <param name="stop_topic" value="$(arg stop_topic)"/>
    <param name="model_path" value="$(arg model_path)"/>
    <param name="home_x" value="$(arg home_x)"/>
    <param name="home_y" value="$(arg home_y)"/>
    <param name="home_z" value="$(arg home_z)"/>
  </node>
</launch>
